@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

html{
    line-height: 1.25;

}



*{
    margin-left: 10px;
}



body{
    background-color:floralwhite ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color:#222;
    background-image: url('bg1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

.App{

    margin-top: 3rem;
    display: flex;
    flex-direction: column;

}

h1 {
    margin-bottom: 100px;
    margin-left: 348px;
    background: linear-gradient(to bottom, #c5b796 22%,24%, #cfc19f 26%, #cfbe9f 27%,#ffecb3 40%,hsl(0deg 0% 0% / 10%) 78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* color: #fff; */
    font-family: 'Style Script', cursive;
    position: relative;
    /* text-transform: uppercase; */
    font-size: 8vw;
    /* margin: 0; */
    font-weight: bold;
}

h1:after {
    background: none;
    content: attr(data-heading);
    left: 0;
	top: 0;
    z-index: -1;
    position: absolute;
    text-shadow: 
		-1px 0 1px #c6bb9f, 
		0 1px 1px #c6bb9f, 
		5px 5px 10px rgba(0, 0, 0, 0.4),
		-5px -5px 10px rgba(0, 0, 0, 0.4);
}

/*.App h1{
    font-family: 'Style Script', cursive;
    display: inline;
    text-align: center;
    margin-bottom:  2rem;
    color:#e1ebfd;
    text-shadow: 0 0 5px #68686d, 3px -1px;
    font-size: 60px;
}*/



.addTodos{
    display: flex;
    justify-content: center;
}

.todo-input{

    min-width: 15rem;
    width: 40vw;
    height: 1.5rem;
    background-color: #e1ebdd00;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    align-self: center;
    box-shadow: 2px 4px 10px #a39dca;


}

.todo-input:focus{
    outline:none;
    border: 2px solid #e1ebfd; ;

}

.add-btn{
    margin-left: 1rem;
    /*background-color: #271c6c;*/
    /*color: #ceb9c5;*/
    /*border: 2px solid #e1ebfd;*/
    font: 1.5rem;
    width: 40px;
    height: 39px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 4px 10px #a39dca;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;    
}


.add.btn:focus{
    outline: none;
}

.displaytodos .buttons{
    margin-left: 25.5rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.displaytodos .buttons button{
    color: #c5b796;
    min-width: 9rem;
    width: 70px;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    /* align-self: center; */
    box-shadow: 2px 4px 10px #a39dca;
    padding: 0.5rem 1.2rem;
    /* border-radius: 10px; */
    cursor: pointer;
    border: none;
    font-weight: bolder;
    font-size: 21px;
    font-family: ui-sans-serif;
}

.displaytodos .buttons button:focus{
    outline: none;
}

.displaytodos .buttons button:not(:last-child){
    margin-right: 1rem;
}


.displaytodos ul{
    list-style: none;
    display:flex;
    align-self: flex-start;
    flex-wrap: wrap;
    margin-left: 8%;
}




.card{
    box-shadow: 2px 4px 10px #a39dca;
    display: flex;
    flex-direction: column;
    background: rgb(237 238 243 / 25%);
    margin: 0 1rem 1rem 0;
    height: 8rem;
    width: 18rem;
    border-radius: 0.5rem;
    padding: 1rem;
    position: relative;
    margin: 0 1rem 1rem 0;
    height: 8rem;
    width: 18rem;
    border-radius:0.5rem;
    padding: 1rem;
    position: relative;
    transition: transform 6s;
}


.card textarea {
    padding: 0.5rem;
    border-radius:8px;
    border: none;
    background-color:#e1ebfd;
    color: #271c6c;
    height:70%;
}



.card textarea:disabled{
    background-color:transparent;
}



.card .btns{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    border-radius:5px;
    margin: 0 0.6rem;
    font-size: 1.4rem;
    cursor: pointer;
    background-color: transparent;
}



.card .btns:focus{
    outline: none;
}



.isDone{
    position: absolute;
    right: 0.3rem;
    top: 0.3rem;
    font-size: 1.8rem;
}





